page-dashboard-tabs {

.g1{

	background-image:url('../assets/img/maury_avion.jpg');
	background-size:100%;
}

img{
	border:2px solid #fff;
	border-radius:50%;
}

		.fab1{
		background-color:#ffa500;

		}




}
